* {
  /* overflow-y: hidden; */
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.heading {
  font-size: 3rem;
  font-weight: 600;
}

.input-container {
  width: fit-content;
  overflow: visible;
}

.click-div {
  cursor: pointer;
}
.output {
  font-size: 1.1rem;
}

@media screen and (max-width: 430px) {
  .output{
    font-size: 0.8rem;
  }
  .heading{
    font-size: 2rem;
  }
}
